:root {
    --light-blue: #CAF0F8;
    --blue: #48CAE4;
    --dark-blue: #023E8A;
    --light-orange: #FFC971;
    --orange: #E2711D;
    --dark-orange: #CC5803;
}

/* BODY */
body {
    display: grid;
}

/* MAIN */
div#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#main div.content {
    display: flex;
    flex-direction: column;
}

/* FOOTER  */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div.content {
    display: flex;
    align-items: center;
    justify-content: center;
}