/* BODY */
body {
    display: grid;
}

/* MAIN */
div#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#main div.content {
    display: flex;
    flex-direction: column;
}

/* FOOTER  */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div.content {
    display: flex;
    align-items: center;
    justify-content: center;
}